<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shoppingmall">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Currency.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Currency.RegisteredActivity"></activity>
        <activity android:name=".Currency.LoginActivity" />
        <activity android:name=".Currency.GoodsInfoActivity" />
        <activity android:name=".Currency.MainActivity" />
        <activity android:name=".Currency.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>